*
{
    box-sizing: border-box;
}
body
{
    background-color: #ffffff;
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
img
{
    display: block;
}
a
{
    text-decoration: none;
    color: #2e2f42;
}
ol, ul
{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
    padding: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.contacts
{
    font-style: normal;
}
.contacts .contact
{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .contact:hover, .contacts .contact:focus
{
    color: #404bbf;
}
.order-button
{
    cursor: pointer;
    letter-spacing: 0.04em;
    background: #4d5ae5;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    text-wrap: nowrap;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover, .order-button:focus
{
    background-color: #404bbf;
}
ul, ol
{
    list-style-type: none;
}

.site-logo
{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
}

.studio-dark
{
    color: #2e2f42;
}

.studio-light
{
    color: #f4f4fd;
}

.nav-link
{
    display: block;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.nav-link-active
{
    color: #404bbf;
}

.nav-link-active::after
{
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover, .nav-link:focus
{
    color: #404bbf;
}

.hero, .page-footer
{
    background-color: #2e2f42;
}

.page-footer
{
    padding-top: 100px;
    padding-bottom: 100px;
}

.team
{
    background-color: #f4f4fd;
}

.section-header
{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.hero-header
{
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.member-header, .port-header, .goal-header
{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.member-header
{
    text-align: center;
}

.member-info
{
    padding-top: 32px;
    padding-bottom: 32px;
}

.port-info
{
    padding-top: 32px;
    padding-bottom: 32px;
}

.port-info
{
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.member-description, .port-description, .goal-description
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.member-description
{
    margin-bottom: 8px;
}

.member-list-item
{
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.footer-text
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.footer-social-media-caption
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 16px;
}

.container
{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.goals, .team, .portfolio
{
    padding-top: 120px;
    padding-bottom: 120px;
}

.header-container, .main-menu, .nav-links, .contacts-list
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero
{
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.nav-links, .contacts-list
{
    gap: 40px;
}

.goals-list, .member-list
{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.goal-item
{
    width: calc((100% - 72px) / 4);
}

.goal-item-icon-wrapper
{
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.member-list
{
    text-align: center;
}

.member-social-links
{
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
}

.member-social-link
{
    width: 40px;
    height: 40px;
}

.member-social-link-href
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social-link-href:hover
{
    background-color: #404bbf;
}

.member-social-link-icon
{
    fill: #f4f4fd;
}

.member-social-link-href
{
    line-height: 0;
    width: 100%;
    height: 100%;
}

.port-list
{
    display: flex;
    flex-direction: row;
    flex-basis: 1128px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.port-item
{
    width: calc((100% - 24px * 2) / 3);
    /* border: 1px solid #e7e9fc; */
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-item:hover
{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.port-item-wrapper
{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.port-item-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    padding: 40px 32px;
}

.port-item:hover .port-item-overlay
{
    transform: translateY(0%);
}

.bottom-site-logo
{
    margin-bottom: 16px;
    display: inline-block;
    margin-right: 0;
}

.site-header
{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.footer-container
{
    display: flex;
    align-items: baseline;
}

.footer-info
{
    margin-right: 120px;
}

.footer-social-links
{
    display: flex;
    gap: 16px;
}

.footer-social-link
{
    width: 40px;
    height: 40px;
}

.footer-social-link-href
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-icon
{
    fill: #f4f4fd;
}

.footer-social-link-href:hover, .footer-social-link-href:focus
{
    background-color: #31d0aa;
}

.footer-social-link-href
{
    line-height: 0;
}

.modal-backdrop
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 25;
}

.modal
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    overflow: auto;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-close-btn
{
    position: absolute;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.modal-close-icon
{
    fill: inherit;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus
{
    fill: #ffffff;
    border-color: #4d5ae5;
    background-color: #4d5ae5;
}

.modal-field-label, .modal-checkbox-label, .modal-checkbox-label-pp
{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-checkbox-label
{
    display: inline-flex;
}

.modal-checkbox-label-pp
{
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-field-label
{
    display: block;
    margin-bottom: 4px;
}

.modal-field
{
    padding-left: 38px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:focus
{
    border-color: #4d5ae5;
    outline: none;
}

.modal-field:focus + .modal-field-icon
{
    fill: #4d5ae5;
}

.modal-field-wrapper
{
    margin-bottom: 8px;
}

.modal-field-textarea
{
    border-radius: 4px;
    border: 1px solid rgba(46, 57, 66, 0.4);
    width: 100%;
    height: 120px;
    overflow: auto;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
}

.modal-field-textarea:focus
{
    border-color: #4d5ae5;
    outline: none;
}

.modal-textarea-wrapper
{
    margin-bottom: 16px;
}

.modal-field-textarea::placeholder
{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-caption
{
    max-width: 360px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.input-wrapper
{
    position: relative;
}

.modal-field-icon
{
    display: block;
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-custom-checkbox
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: none;
}

.modal-custom-checkbox-icon
{
    fill: inherit;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-checkbox-label > .modal-custom-checkbox
{
    background-color: #404bbf;
    fill: #f4f4fd;
    border-color: #404bbf;
}

.modal-checkbox-wrapper
{
    margin-bottom: 24px;
}

.modal-submit-button
{
    display: block;
    background-color: #4d5ae5;
    padding: 16px 32px;
    width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover, .modal-submit-button:focus
{
    background-color: #404bbf;
}