body
{
    background-color: #ffffff;
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
a
{
    text-decoration: none;
    color: #2e2f42;
}
.contacts
{
    font-style: normal;
}
.contacts .contact
{
    color: #434455;
    line-height: 1.5;
}
.contacts .contact:hover, .contacts .contact:focus
{
    color: #404bbf;
}
.order-button
{
    cursor: pointer;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5;
    border: none;
}
.order-button:hover, .order-button:focus
{
    background-color: #404bbf;
}
ul, ol
{
    list-style-type: none;
}

.site-logo
{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio-dark
{
    color: #2e2f42;
}

.studio-light
{
    color: #f4f4fd;
}

.main-menu
{
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
}

.hero, .page-footer
{
    background-color: #2e2f42;
}

.team
{
    background-color: #f4f4fd;
}

.section-header
{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.hero-header
{
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.member-header
{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.member-description
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.port-header
{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.port-description
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-text
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}